.slider {
  position: relative;
  max-width: 200px;
  margin: 20px auto;
  text-align: center;
}

.slider-imagenes {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.slide {
  margin-top: 10px;
  display: none;
  width: 100%;
  height: auto;
}

.slide.activo {
  display: block;
}

.slider button {
  background-color: rgb(31 31 31);
  border: none;
  color: white;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 100%; /* Justo debajo del slider */
  left: 50%;
  transform: translate(-50%, 10px);
  font-size: 20px;
  cursor: pointer;
  border-radius: 50%; /* Hace que el botón sea redondo */
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  transition: background-color 0.3s ease;
}

.slider button:hover {
  background-color:  rgb(165 165 165);
}
.slider-descripcion {
  background-color: #80c0ff96;
  text-align: center;
  font-size: 0.9rem;
  border-radius: 10px; /* <--- valor correcto */
  margin-top: 10px;
  padding: 10px; /* recomendable para que el texto no quede pegado al borde */
}

    .descripcion {
      display: none;
    }
    .descripcion.activa {
      display: block;
    }

.slider .prev {
  left: 0;
}

.slider .next {
  right: 0;
}
.prev,
.next {
  background-color: rgb(206 206 206);
  border: none;
  color: white;
  width: 30px;
  height: 30px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
  margin: 10px auto;
}


.prev:hover,
.next:hover {
  transform: scale(1.25);
}

#contenidoCaracteristicas ul,
#contenidoTecnologias ul {
  list-style: none;
  padding-left: 0;
}

