body {
  font-family: 'Inter', sans-serif;
  background-color: #ffffff;
  color: #000000;
  min-height: 100vh;
  padding: 2rem;
  line-height: 1.6;
}

/* CONTENEDOR PRINCIPAL */
.container {
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

/* ENCABEZADO */
header {
  text-align: center;
  padding-bottom: 1rem;
}

.perfil {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #dcdce0;
}

header h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #adb6ba;
}

.subtitulo {
  font-size: 1.1rem;
  color: #abb7c5;
  margin-top: 0.25rem;
}

/* SECCIONES */
section {
  border: 2px solid #000000;
  border-radius: 12px;
  background-color: #ffffff;
  padding: 1rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

section h2 {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  color: #000000;
  border-bottom: 2px solid #334155;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
}

/* LISTAS */
ul {
  list-style-type: disc;
  color: #000000;
}

li {
  margin-bottom: 0.75rem;
}

/* REDES */
.redes-botones {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 1.5rem;
  flex-wrap: wrap;
}

.redes-botones a {
  padding: 0.8rem 1.6rem;
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #000000;
  border-radius: 12px;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 80px; /* Fuerza el mismo ancho para todos */
  justify-content: center; /* Centra el icono y texto */
  text-align: center;
}

.redes-botones a:hover {
  background-color: #8f8f8f;
  color: #111827;
}

.redes-botones i {
  font-size: 1.5rem;
}

/* FOOTER */
footer {
  text-align: center;
  font-size: 0.85rem;
  color: #64748b;
  margin-top: 1rem;
}

/* RESPONSIVE: Apilar botones en móviles */
@media (max-width: 470px) {
  .redes-botones {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}
